@import url(navbar.css);
@import url(header.css);
@import url(skils.css);
body {
    color: white;
    font-family: 'Jua', sans-serif;
}

.section-title {
    font-size: 400%;
}
.section-subtitle {
    margin-top: 5%;
    font-size: 250%;
    text-align: center;
}
.section-content {
    margin-top: 5%;
    text-align: center;
    font-size: 150%;
}
a {
    color: cornflowerblue;
}