@import url(navbar.css);
body {
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.header {
    font-family: 'Jua', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 50px 0px;
    background-color: #11C19B;
}

#name {
    font-size: 850%;
}
#profileimg {
    max-width: 18%;
    max-height: 18%;
}
#description {
    margin-top: 5px;
    font-size: 150%;
}